{% load static %} {% block about %}
<!-- Start About -->
<section class="section" id="about">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-10">
				<div class="text-center mb-5">
					<h3 class="mb-3">¿Por qué esta tecnología es vital para la comunidad sorda?</h3>
					<p class="text-muted">
						If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual
						languages new common will be more regular than the existing If several is more simple and regular than that of the
						individual languages new common will be more regular than the existing
					</p>
				</div>
			</div>
		</div>
		<!-- end row -->

		<div class="row">
			<div class="col-lg-4 col-md-4">
				<div class="text-center p-4">
					<div class="icons-xl mb-3">
						<i class="uim uim-lock"></i>
					</div>

					<h5>Seguridad en las Carreteras</h5>
					<p class="text-muted">
						Uno de los desafíos más apremiantes para los conductores sordos 🚗👂 es identificar vehículos de emergencia, como
						ambulancias, vehículos de policía y camiones de bomberos 🚑🚓🚒, en situaciones de tráfico intenso.
					</p>
					<p class="text-muted">
						Nuestra tecnología de reconocimiento de sonidos 🤖 está diseñada para brindar a los conductores sordos la capacidad de
						detectar y reconocer estos sonidos críticos 🔊, lo que les permite tomar decisiones más seguras en la carretera 🛣️.
					</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-4">
				<div class="text-center p-4">
					<div class="icons-xl mb-3">
						<i class="uim uim-repeat"></i>
					</div>

					<h5>Independencia y Conexión</h5>
					<p class="text-muted">
						Acceder a la información acústica también puede mejorar la calidad de vida de las personas sordas en su entorno cotidiano
						🏡. Al proporcionar una forma de comprender y participar en conversaciones y eventos en vivo 🗣️📣, esta tecnología fomenta
						la independencia y la inclusión social 🤗.
					</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-4">
				<div class="text-center p-4">
					<div class="icons-xl mb-3">
						<i class="uim uim-airplay"></i>
					</div>

					<h5>Acceso a Señales de Advertencia</h5>
					<p class="text-muted">
						Los sonidos de advertencia ⚠️ en entornos industriales o de construcción pueden ser fundamentales para la seguridad laboral
						de las personas sordas 👷‍♀️👷‍♂️. Nuestra tecnología puede ayudar a identificar y alertar sobre peligros potenciales 🚧.
					</p>
				</div>
			</div>
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->
</section>
<!-- end About -->
{% endblock about %}
