{% load static %}
{% block clients %}
    <!-- Start Clients -->
    <section class="section mt-5" id="clients">
        <div class="container">
            <div class="row pb-5 align-items-center">
                <div class="col-lg-4 col-md-4">
                    <div class="icons-lg mb-4">
                        <i class="uim uim-comment-message"></i>
                    </div>
                    <div id="contenido-api">
                        <!-- Aquí se mostrarán los datos de la API -->
                    </div>
                    <h3 class="mb-2">2,200<sup>+</sup></h3>
                    <h3 class="mb-4">Clientes Satisfechos</h3>
                    <p class="text-muted mb-sm-0 mb-5 pb-sm-0 pb-4">
                </div>

                <div class="col-lg-8 col-md-8">
                    <div class="client-slider">
                        <div>
                            <div class="bg-light rounded p-4">
                                <p class="text-muted mb-4">
                                    "El producto cumple con su función básica, pero no destaca en nada. No es malo ni excelente, solo es promedio. Si estás buscando algo económico, podría funcionar para ti."                                </p>
                                <div class="pt-3">
                                    <div class="d-inline-block">
                                        <h5 class="font-16 mb-1">James Vazquez</h5>
                                        <span class="text-muted">- Peyso User</span>
                                    </div>
                                    <div class="text-muted d-inline-block float-end">
                                        <i class="mdi mdi-star text-warning"></i>
                                        <i class="mdi mdi-star text-warning"></i>
                                        <i class="mdi mdi-star text-warning"></i>
                                        <i class="mdi mdi-star text-warning"></i>
                                        <i class="mdi mdi-star text-warning"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="bg-light rounded p-4">
                                <p class="text-muted mb-4">
                                    "¡No puedo creer lo bueno que es este producto por el precio que tiene! Lo uso todos los días y todavía funciona como nuevo. Es un verdadero hallazgo y lo recomendaría a cualquiera que busque una solución económica y eficaz."                                </p>

                                <div class="pt-3">
                                    <div class="d-inline-block">
                                        <h5 class="font-16 mb-1">Clara Searcy</h5>
                                        <span class="text-muted">- Peyso User</span>
                                    </div>
                                    <div class="text-muted d-inline-block float-end">
                                        <i class="mdi mdi-star text-warning"></i>
                                        <i class="mdi mdi-star text-warning"></i>
                                        <i class="mdi mdi-star text-warning"></i>
                                        <i class="mdi mdi-star text-warning"></i>
                                        <i class="mdi mdi-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="bg-light rounded p-4">
                                <p class="text-muted mb-4">
                                    "¡Me encanta este producto! Es increíblemente versátil y asequible. Lo he estado utilizando durante meses y no he tenido ningún problema. Es una excelente relación calidad-precio."                                </p>
                                <div class="pt-3">
                                    <div class="d-inline-block">
                                        <h5 class="font-16 mb-1">Alfredo Williams</h5>
                                        <span class="text-muted">- Peyso User</span>
                                    </div>
                                    <div class="text-muted d-inline-block float-end">
                                        <i class="mdi mdi-star text-warning"></i>
                                        <i class="mdi mdi-star text-warning"></i>
                                        <i class="mdi mdi-star text-warning"></i>
                                        <i class="mdi mdi-star text-warning"></i>
                                        <i class="mdi mdi-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <!-- start brand logo -->
            
            <!-- end row -->
        </div>
        <!-- end container -->
        <script src="{% static '../../static/js/opiniones_script.js' %}"></script>
    </section>
    <!-- End Clients -->
{% endblock clients %}