{% load static %}
{% block cta %}
<style>
    .contenedor {
    position: relative; 
}

.contenedor img {
    position: absolute;
    top: 0; 
    left: 0; 
    z-index: 1; 
}
#gif{
    width: 410px;
    top: 35px;
    left: 45px;
}
.contenedor{
    margin-left: 300px;
    height: 300px;
}

    /* .coche {
        padding: 30px;
        background-color: black;
        position: relative; 
    }

    .marco-botones {
        border: 5px solid #333; 
        position: absolute;
        top: 0;
        left: -50px; 
        width: 50px;
        height: 100%;
        background-color: #333;
    }

    .boton {
        width: 100%;
        height: 20px;
        background-color: #666;
        margin-top: 30px;
    }
    #rueda {
        width: 30px;
        height: 30px;
        background-color: #666;
        border-radius: 100%; 
        margin-bottom: 10px;
        height: 40px;
        width: 100%;
        background-color: #666;
        margin-bottom: 10px;
    } */
</style>
 <!-- Start cta section -->
 <section class="py-5 bg-primary">
    <div class="container">
        <div class="contenedor">
            <div id="fonsBlanc"></div>
            <img id="gif" src="../../static/images/Jo.gif" alt="Superpuesta">
            <img src="../../static/images/istockphoto-1486251213-612x612.png" alt="">
        </div>
        <!-- <div class="coche">
            <div class="marco-botones">
                <div id="rueda"></div>
                <div class="boton"></div>
                <div class="boton"></div>
                <div class="boton"></div>
                <div class="boton"></div>
                <div class="boton"></div>
                <div class="boton"></div>
            </div>
            <img src="../../static/images/Jo.gif" alt="GIF animado">
        </div> -->
    </div>
    <!-- end container -->
</section>
<!-- End cta section -->
{% endblock cta %}