{% load static %}
{% block cta %}
<style>
    .coche {
        padding: 30px;
        background-color: black;
        position: relative; 
    }

    .marco-botones {
        border: 5px solid #333; 
        position: absolute;
        top: 0;
        left: -50px; 
        width: 50px;
        height: 100%;
        background-color: #333;
    }

    .boton {
        width: 100%;
        height: 20px;
        background-color: #666;
        margin-top: 30px;
    }
    #rueda {
        width: 30px;
        height: 30px;
        background-color: #666;
        border-radius: 100%; 
        margin-bottom: 10px;
        height: 40px;
        width: 100%;
        background-color: #666;
        margin-bottom: 10px;
    }
</style>
 <!-- Start cta section -->
 <section class="py-5 bg-primary">
    <div class="container">
        <div class="coche">
            <div class="marco-botones">
                <div id="rueda"></div>
                <div class="boton"></div>
                <div class="boton"></div>
                <div class="boton"></div>
                <div class="boton"></div>
                <div class="boton"></div>
                <div class="boton"></div>
            </div>
            <img src="../../static/images/icon-sensors.gif" alt="GIF animado">
        </div>
    </div>
    <!-- end container -->
</section>
<!-- End cta section -->
{% endblock cta %}