{% load static %}
{% block hero %}

    <!-- Hero section Start -->
    <section class="hero-6 position-relative d-flex justify-content-center align-items-center" id="home">
        <div class="hero-6-bg" style="background-image: url({% static 'images/hero-6-bg.png' %});"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="hero-6-content text-center mt-5">
                        <div class="hero-icon bg-soft-light rounded-circle mb-3 mx-auto">
                            <i class="mdi mdi-hexagon-multiple-outline text-white"></i>
                        </div>
                        <h3 class="text-white fw-normal mb-4">¡Hola!</h3>
                        <h1 class="hero-6-title text-white fw-normal mb-3">Nosotros ofrecemos la mejor solucion</h1>
                        <p class="text-muted font-18 mb-4">Imagina un mundo donde los sonidos que rodean tu vida son un misterio insondable 🌍🔊, un universo de información perdido para tus oídos 🙉. Para las personas sordas, esta es su realidad cotidiana.</p>
                        <p class="text-muted font-18 mb-4">En todo el mundo, millones de individuos enfrentan desafíos diarios al navegar por un mundo que se comunica principalmente a través del sonido 🌍🔊. Para ellos, las señales de advertencia ⚠️, los vehículos de emergencia 🚑🚓🚒 y los sonidos cotidianos que muchos de nosotros damos por sentado, son inaccesibles. </p>
                        <p class="text-muted font-18 mb-4">Sin embargo, la tecnología está desempeñando un papel transformador en la vida de las personas sordas, brindando nuevas oportunidades para la inclusión y la seguridad 🌟🤖.</p>
                        <a href="#" class="btn btn-info">Contact Us</a>
                        <a href="#" class="btn btn-outline-info ms-1">Discover More</a>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- Hero section End -->
{% endblock hero %}