{% load static %}
{% block hero %}

    <!-- Hero section Start -->
    <section class="hero-6 position-relative d-flex justify-content-center align-items-center" id="home">
        <div class="hero-6-bg" style="background-image: url({% static 'images/hero-6-bg.png' %});"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="hero-6-content text-center mt-5">
                        <div class="hero-icon bg-soft-light rounded-circle mb-3 mx-auto">
                            <i class="mdi mdi-hexagon-multiple-outline text-white"></i>
                        </div>
                        <h3 class="text-white fw-normal mb-4">Hello, Everyone !</h3>
                        <h1 class="hero-6-title text-white fw-normal mb-3">We Provide Best Solution</h1>
                        <p class="text-muted font-18 mb-4">Do one chap gutted mate cheesed off dropped a lorem ipsum dolor sit amet clanger crikey cheeky a Queen's English bog blimey ummm I'm telling.!</p>
                        <a href="#" class="btn btn-info">Contact Us</a>
                        <a href="#" class="btn btn-outline-info ms-1">Discover More</a>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- Hero section End -->
{% endblock hero %}