{% load static %}
{% block clients %}
    <!-- Start Clients -->
    <section class="section mt-5" id="clients">
        <div class="container">
            <div class="row pb-5 align-items-center">
                <div class="col-lg-4 col-md-4">
                    <div class="icons-lg mb-4">
                        <i class="uim uim-comment-message"></i>
                    </div>
                    
                    <h3 class="mb-2">2,200<sup>+</sup></h3>
                    <h3 class="mb-4">Clientes Satisfechos</h3>
                    <p class="text-muted mb-sm-0 mb-5 pb-sm-0 pb-4">
                </div>
                <div class="col-lg-8 col-md-8">
                        <div class="bg-light rounded p-4">                           
                            <div class="pt-3">
                                <p id="resultado1"></p>
                                <div class="d-inline-block">
                                    <h5 id="nombre_usuario1" class="font-16 mb-1"></h5>
                                    <span class="text-muted">Cliente de DeafGuard Systems</span>
                                </div>
                                <div id="estrellas1" class="text-muted d-inline-block float-end">
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="bg-light rounded p-4">                           
                            <div class="pt-3">
                                <p id="resultado2"></p>
                                <div class="d-inline-block">
                                    <h5 id="nombre_usuario2" class="font-16 mb-1"></h5>
                                    <span class="text-muted">Cliente de DeafGuard Systems</span>
                                </div>
                                <div id="estrellas2" class="text-muted d-inline-block float-end">
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="bg-light rounded p-4">                           
                            <div class="pt-3">
                                <p id="resultado3"></p>
                                <div class="d-inline-block">
                                    <h5 id="nombre_usuario3" class="font-16 mb-1"></h5>
                                    <span class="text-muted">Cliente de DeafGuard Systems</span>
                                </div>
                                <div id="estrellas3" class="text-muted d-inline-block float-end">
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="bg-light rounded p-4">                           
                            <div class="pt-3">
                                <p id="resultado4"></p>
                                <div class="d-inline-block">
                                    <h5 id="nombre_usuario4" class="font-16 mb-1"></h5>
                                    <span class="text-muted">Cliente de DeafGuard Systems</span>
                                </div>
                                <div id="estrellas4" class="text-muted d-inline-block float-end">
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <!-- end row -->

            <!-- start brand logo -->
            
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- End Clients -->

{% endblock clients %}