{% load static %}
{% block features %}
<!-- Start Features -->
<section class="section bg-light" id="features">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center title mb-5">
                    <p class="text-muted text-uppercase fw-normal mb-2">Características</p>
                    <h3 class="mb-3">Funcionalidades clave de nuestro producto</h3>
                    <div class="title-icon position-relative">
                        <div class="position-relative">
                            <i class="uim uim-arrow-circle-down"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row align-items-center">
            <div class="col-lg-5 order-2 order-lg-1">
                <div class="mt-4 mt-lg-0">
                    <h4>Tu Seguridad, Tu Sonido: Conoce Todo a Tu Alrededor</h4>
                    <p class="text-muted mt-3">Características clave del nuestro producto, se basa en la clasificación de sonidos para ayudar a conductores sordos a identificar vehículos de emergencia:</p>

                    <div>
                        <p class="mb-2 text-muted">
                            <span class="uim-icon-info me-2 align-middle"><i class="uim uim-check-circle"></i></span>Reconocimiento Preciso de Sonidos de Emergencia
                        </p>
                        <p class="mb-2 text-muted">
                            <span class="uim-icon-info me-2 align-middle"><i class="uim uim-check-circle"></i></span>Determinación de Posición Relativa
                        </p>
                        <p class="text-muted">
                            <span class="uim-icon-info me-2 align-middle"><i class="uim uim-check-circle"></i></span>Interfaz de Usuario Amigable
                        </p>
                    </div>
                    <div class="mt-4">
                        <a href="#" class="text-primary">Leer más...</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 ms-lg-auto col-sm-8 order-1 order-lg-2">
                <div>
                    <img src="{% static 'images/features/1366_2000.jpg' %}" alt="" class="img-fluid mx-auto d-block" />
                </div>
            </div>
        </div>
        <!-- end row -->

        <hr class="my-5" />

        <div class="row align-items-center">
            <div class="col-lg-6 col-sm-8">
                <div class="features-img mt-4">
                    <img src="{% static 'images/features/Sensoren-1.jpg' %}" alt="" class="img-fluid mx-auto d-block img-thumbnail" />
                </div>
            </div>

            <div class="col-lg-5 ms-lg-auto">
                <div class="mt-5 mt-lg-4">
                    <h4>Mejora tu seguridad</h4>
                    <p class="text-muted mb-2 mt-3">Mejora tu seguridad en la carretera con nuestra tecnología de reconocimiento de sonidos. Detectamos vehículos de emergencia y te brindamos información en tiempo real para decisiones más seguras.</p>
                    <p class="text-muted">Potenciamos tu bienestar, tu independencia y tu confianza en cada viaje. ¡Descubre una nueva dimensión de seguridad!</p>
                    <div class="mt-4">
                        <a href="#" class="text-primary">Leer más...</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- End Features -->
{% endblock features %}