{% load static %} {% block pricing %}
<!-- Start pricing -->
<section class="section bg-light" id="pricing">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="text-center title mb-5">
					<p class="text-muted text-uppercase fw-normal mb-2">Plan</p>
					<h3 class="mb-3">Nuestros servicios</h3>
					<div class="title-icon position-relative">
						<div class="position-relative">
							<i class="uim uim-arrow-circle-down"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end row -->

		<div class="row pb-4">
			<div class="col-lg-4 col-md-6">
				<div class="card plan-box text-center p-2">
					<div class="card-body">
						<div class="icons-xl pt-4">
							<i class="uim uim-cube"></i>
						</div>
						<h4 class="mt-4">Online</h4>

						<div class="plan-features text-muted mt-5">
							<p>Kit : <span class="text-info fw-semibold">✔️</span></p>
							<p>Instalación : <span class="text-info fw-semibold">❌</span></p>
							<p>Garantia : <span class="text-info fw-semibold">3 meses</span></p>
							<p>Recambio : <span class="text-info fw-semibold">❌</span></p>
						</div>

						<div class="mt-5">
							<h3>19 €</h3>
							<div class="mt-4 mb-4">
								<a href="#" class="btn btn-info btn-block">Comprar</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="card plan-box text-center p-2">
					<div class="card-body">
						<div>
							<div class="icons-xl pt-4">
								<i class="uim uim-user-md"></i>
							</div>
							<h4 class="mt-4">En taller</h4>

							<div class="plan-features text-muted mt-5">
								<p>Kit : <span class="text-info fw-semibold">✔️</span></p>
								<p>Instalación : <span class="text-info fw-semibold">✔️</span></p>
								<p>Garantia : <span class="text-info fw-semibold">12 meses</span></p>
								<p>Recambio : <span class="text-info fw-semibold">❌</span></p>
							</div>

							<div class="mt-5">
								<h3>29 €</h3>
								<div class="mt-4 mb-4">
									<a href="#" class="btn btn-info btn-block">Comprar</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="card plan-box text-center p-2">
					<div class="card-body">
						<div>
							<div class="icons-xl pt-4">
								<i class="uim uim-star"></i>
							</div>
							<h4 class="mt-4">A domicilio</h4>

							<div class="plan-features text-muted mt-5">
								<p>Kit : <span class="text-info fw-semibold">✔️</span></p>
								<p>Instalación : <span class="text-info fw-semibold">✔️</span></p>
								<p>Garantia : <span class="text-info fw-semibold">12 meses</span></p>
								<p>Recambio : <span class="text-info fw-semibold">✔️</span></p>
							</div>

							<div class="mt-5">
								<h3>39 €</h3>
								<div class="mt-4 mb-4">
									<a href="#" class="btn btn-info btn-block">Comprar</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end plans row -->

		<!-- start faq -->
		<div class="row mb-5 pb-4">
			<div class="col-lg-6 col-md-6">
				<div class="mt-5 d-flex">
					<div class="me-3">
						<div class="avatar-title rounded-circle bg-soft-primary avatar-md text-primary">
							<i class="mdi mdi-help"></i>
						</div>
					</div>

					<div>
						<h5 class="font-18 mt-1">¿Cómo funciona esta tecnología de reconocimiento de sonidos para vehículos de emergencia?</h5>
						<p class="text-muted">
							Nuestra tecnología utiliza algoritmos avanzados de procesamiento de señales de audio y aprendizaje automático para identificar sonidos específicos de vehículos de emergencia, como sirenas y bocinas. Luego, determina la dirección desde la cual se acerca el vehículo, lo que proporciona información valiosa a los conductores sordos.						</p>
					</div>
				</div>

				<div class="mt-4 d-flex">
					<div class="me-3">
						<div class="avatar-title rounded-circle bg-soft-primary avatar-md text-primary">
							<i class="mdi mdi-help"></i>
						</div>
					</div>

					<div>
						<h5 class="font-18 mt-1">¿Puedo usar esta tecnología en tiempo real mientras conduzco?</h5>
						<p class="text-muted">
							Sí, puedes utilizar nuestra tecnología en tiempo real a través de una aplicación o dispositivo conectado. La tecnología detecta sonidos en vivo y te alerta sobre la presencia de vehículos de emergencia, mejorando tu seguridad en la carretera.						</p>
					</div>
				</div>
			</div>

			<div class="col-lg-6 col-md-6">
				<div class="mt-sm-5 mt-4 d-flex">
					<div class="me-3">
						<div class="avatar-title rounded-circle bg-soft-primary avatar-md text-primary">
							<i class="mdi mdi-help"></i>
						</div>
					</div>

					<div>
						<h5 class="font-18 mt-1">¿Qué tipo de dispositivos son compatibles con esta tecnología?</h5>
						<p class="text-muted">
							Nuestra tecnología es compatible con una variedad de dispositivos, incluyendo teléfonos móviles, tabletas y sistemas de infoentretenimiento en vehículos. También ofrecemos opciones de hardware personalizado para una integración más profunda.						</p>
					</div>
				</div>

				<div class="mt-4 d-flex">
					<div class="me-3">
						<div class="avatar-title rounded-circle bg-soft-primary avatar-md text-primary">
							<i class="mdi mdi-help"></i>
						</div>
					</div>

					<div>
						<h5 class="font-18 mt-1">¿Cómo se garantiza la privacidad y seguridad de mis datos al utilizar esta tecnología?</h5>
						<p class="text-muted">
							La privacidad y seguridad de tus datos son fundamentales para nosotros. Utilizamos medidas avanzadas de cifrado y seguimos estrictas políticas de privacidad para proteger tu información. Los datos se utilizan exclusivamente para mejorar la funcionalidad de la tecnología y no se comparten con terceros sin tu consentimiento. Tu privacidad está asegurada mientras aprovechas los beneficios de nuestra tecnología.					</div>
				</div>
			</div>
		</div>
		<!-- end faq row -->
	</div>
	<!-- end container -->
</section>
<!-- end pricing -->
{% endblock pricing %}
